.container{
  display: flex;
  height: 100vh;
}

  .auth-form-container, .login-form, .register-form{
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .auth-form-container{
    padding: 2rem;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
  }
  
  .group-heading{
    display: flex;
    text-align: center;
  
  }
  
  .heading1{
    font-weight: 600;
    text-align: right;
    font-size: 35px;
    margin-right: 10px;
    display: flex;
    color: black;
  }
  
  .heading2{
    font-weight: bold;
    font-size: 20px;
  }
  
  .label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  .input{
    margin: 0.5rem 0;
    padding: 15px;
    color: black;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
  }
  
  .login-button{
    margin-top: 20px;
    border: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }

  .other-button{
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;
      background-color: white;
      width: 45%;
      border: 1px solid black;
    }
  
  .link-btn{
    margin-top: 20px;
    background: none;
    text-align: center;
    color: black;
    text-decoration: underline;
  }

  .privacy{
    display: flex;
    border-top: 100px;
    font-size: 10px;
    color: white;
  }

  .text-danger{
    font-size: 12px;
    color: red;
  }

  .line-horizontal{
    background-color: black;
    width: 80%;
    height: 1px;
  }

  .logo{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
  }

  .logo:hover{
    cursor: pointer;
      opacity: 0.7;
  }