.edit-button{
    margin-left: 10px;
    margin-top: 3px;
}

.edit-button:hover{
    color: gray;
    cursor: pointer;
}

.vertical-line{
        width: 1px; 
        height: 110px; 
        background-color: black;
        margin: 10px 20px;
}

.horizontal-line{
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 30px 0px;
    float: left;
}


.article{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.input-article{
    font-size: 15px;
    margin-top: 15px;
    padding: 12px 20px;
    width: 80%;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    background-color: white;
    border: 1px solid black;
}

.input-radio{
    width: 30px;
    height:30px;
}

.form-group{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.avatar-input{
    opacity: var(--avartar-opacity);
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(214, 211, 211);
    width: 100px;
    height: 100px;
    box-shadow: 
            1px 0px 4px  rgb(214, 211, 211),
            0px 1px 4px  rgb(214, 211, 211),
            -1px 0px 4px  rgb(214, 211, 211),
            0px -1px 4px  rgb(214, 211, 211);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    border: 5px solid rgb(34, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 25px;
    transition: opacity 0.3s ease;
    color: rgb(34, 33, 33);
}
.avatar-container{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.overlay i {
    color: white;
    font-size: 24px;
}

.avatar-container:hover .overlay {
    opacity: 0.8;
}

.button{
    margin-top: 30px;
    width: 180px;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    float: right;
}

.button--light{
    background-color: rgb(210, 210, 210);
    color: black;
    border: 1px solid black;
}

.button--light:hover{
    background-color: rgb(96, 96, 96);
    color: rgb(0, 0, 0);
    cursor: pointer;
}