.sidebar{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 90vh;
    justify-content: center;
    margin-top: -50px;
}

.sidebar__icon {
    font-size: 24px;
    color: black;
    padding: 5px;
    width: 40px;
    border-radius: 5px;
  }

.sidebar__title{
    margin-left: 20px;
    font-size: 18px;
    font-weight:500;
    color: black;
}

.link{
    text-decoration: none;
  }
  
.sidebar-item{
    display: flex;
    margin-left: 30px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
}

.sidebar-item:hover{
    background-color: rgb(230, 234, 234);
    cursor: pointer;
}

.sidebar-item:active{
    background-color: grgb(230, 234, 234);
}


